<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let ie of ingresosEgresos">
                  <td>{{ ie.description }}</td>
                  <td>{{ ie.amount | currency }}</td>
                  <!-- Colocar una clase con base a una condición -->
                  <td [class.text-success]="ie.type == 'ingreso'"
                      [class.text-danger]="ie.type == 'egreso'">
                      {{ ie.type | uppercase }}
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="eliminar(ie!.uid!, ie.description)">
                      <i class="fa fa-trash"></i> Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>

